/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
html {
  box-sizing: border-box;
}
body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;


}
* {
    box-sizing: inherit;
}

.iphone {
  float: left;
}
.content {

  position: absolute;
  top: 20%;
  right: 8%;
  float: right;

}

.text {
  position: absolute;
  top: 20%;
  width: 90%;
  padding-left: 10%;

}

button {
  background-color: #527C9F;
  border-radius: 6;
}
.home {
  float: right;
}

.background {
  background-color: #426A8E;
  width: 100%;
  padding: 20%;
  position: absolute;
  z-index: -1;
}

.iphone {
  position: absolute;
  top: 18%;
}

.stores {
  padding: 100px 30px 30px 80px;

}

button {
  float: right;
  padding: 8px 30px 8px 30px;
  margin-top: 20px;
  margin-right: 10px;
}
footer {

  position: absolute;
  bottom: 20%;
  right: 20%;
}

nav a {
  padding: 5px;
}

/*
.topback {
  width: 100%;
  height: 400px;
  background-color: #476F92;
  z-index: -20;
  position: absolute;
}

.content {
  background-color: white;
  width: 30%;
  line-height: 1.3;
  float: right;
}

.content h1 {
  color: #042C54;
}

nav {
  text-align: center;
  padding-top: 20%;


}

.bodycon{
  position: absolute;
  width: 10%;
  left: 50%;
  top: 40%;
}
.bodycon > p {
  z-index: 1;
  padding-right: 20%;
  padding-top: 30%;
}

.bodycon > h1 {
  z-index: 1;
  right: 25%;
  top: 35%;
}

.contentbox {

  position: absolute;
  z-index: -2;
  right: 25%;
}

.frame {
  position: absolute;

}

nav a {
  font-weight: bold;
 color: #042C54;
}
*/
